/*---------- global ----------*/

body {
	font-family: "Quicksand", "Microsoft YaHei", sans-serif;
	color: rgba(25,25,25,0.9);
	line-height: 1.7em;
	background-image: url("../image/bg.png");
	background-attachment: fixed;
	background-color: white;
}

em {
	font-weight: bold;
}

a:link, a:visited, .fn {
	color: rgb(244, 183, 0);
	text-decoration: none;
	cursor: pointer;
}

a:hover, .fn:hover {
	color: rgb(255, 192, 178);
	cursor: pointer;
}



/*---------- sidebar ----------*/

#sidebar {
	width: 21%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2% 3%;
	text-align: center;
	background-color: rgba(33, 123, 124, 0.7);/*rgba(120, 194, 196, 0.7);*/
	color: rgba(255,255,255,0.9);
}

#logo {
	width: 15%;
	margin: 4% 0 0 0;
	cursor: pointer;
}

#avatar {
	width: 47%;
	border-radius: 50%;
	border-style: solid;
	border-width: 10px;
	border-color: rgba(255,255,255,0.2);
	margin-bottom: 4%;
}

#avatar:hover {
	border-color: rgba(255,255,255,0.3);
	cursor: pointer;
}

#avatar:active {
	border-color: rgba(0,0,0,0.2);
}

/*.vcard {
	text-shadow: 1px 1px 1px #222222;
}*/

.fn {
	font-size: 140%;
}

#nav {
	margin: 4% 0;
}

#nav li {
	margin: 5%;
	padding: 2%;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
	background-color: rgba(255,255,255,0.4);
	font-size: 120%;
	color: rgba(25,25,25,0.9);
	
}

#nav li:hover {
	background-color: rgb(252, 242, 242);
	cursor: pointer;
}

#nav li:active {
	background-color: rgb(252, 251, 204);
}



/*---------- content ----------*/

#content {
	width: 69%;
	float: right;
	margin: 2% 2% 1% 2%;
}

.content {
	margin: 0 0 2% 0;
	background-color: rgba(255,255,255,0.7);
	padding: 2% 2% 5% 2%;
}

h1 {
	text-align: right;
	font-family: "Pacifico", cursive;
	/*letter-spacing: 0.05em;*/
	font-size: 400%;
	color: rgba(25,25,25,0.7);
	margin: 7% 4% 8% 4%;
	
}

.tbox {
	margin: 2%;
	border: 0.5em solid transparent;
	border-image: url("../image/border.png") 50 0 round;
	padding: 5% 1%;
}

h2 {
	color: rgb(244, 183, 0);
	font-family: "Pacifico", cursive;
	font-size: 200%;
	display: inline;
}

h3 {
	font-size: 200%;
	color: rgba(67, 178, 178, 0.7);
	text-align: right;
	display: inline;
	float: right;
}

h4 {
	font-size: 150%;
	font-weight: bold;
	margin: 2% 0;
	clear: none;
}

#content ul {
	list-style: circle;
	padding: 1% 0 0 10%;
}

#content li {
	margin: 2% 0;
}



/*---------- footer ---------*/

#footer {
	width: 65%;
	float: right;
	margin: 0 2% 2% 2%;
	background-color: rgba(255,255,255,0.8);
	padding: 2%;
	text-align: center;
}


