/* =Global
-------------------------------------------------------------- */
body {
    background-color:rgb(255,255,255);
    color:rgb(255,255,255);
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
    font-size:16px;
    line-height:1.5;
    font-family: Univers Condensed;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	line-height:1;
	font-weight: 600;
	color: black;
	
}
a {
    text-decoration:none;
    color:rgb(0,0,0);
}
a:hover {
   
}
 p{
	color:rgb(50,50,50);
 }

.newsevent1 p {font-size: 14px; text-align: center;}
.newsevent2 p {font-size: 14px; }
#footerContact p {font-size: 14px;}

/*header*/
#title {width: 100%; min-width: 100%;}
#logo img {float: left; margin-left: 3%;margin-top: -5%; width: 20%;}
#toptitle {float: left; margin-left: 1%; margin-top: -4%; border-left: solid; border-color: black; padding-left: 1%; font-size: 30px;}
#topleft {float: right; margin-top: -5%; margin-right: 1%; text-align: right;}
#faq {text-decoration:underline;}

/*navigator*/
nav{text-align: center;}

/*leftsidebar*/
#leftsidebar{float: left; width: 23%;margin-right: 3%;}
#leftsidebar img{width:220px;}
#leftsidebar-videoT {margin-top: 10%;width: 90%; text-align: center; height:100px;
					background-color: rgb(229, 229, 229);}
.leftsidebar-box {margin-top: 5%;width: 90%; text-align: center; height:30px; border:solid; background: rgb(229, 229, 229);}

/*middle*/
#middlecontent {float: left;width: 45%;margin-right: 3%; margin-top: 2%;}
#search1{float: left;  border: solid; border-color:#999999; padding: 1%; border-right: hidden;}
#search2 {float: left; border: solid; border-color:#999999;padding: 1%;}

#search1 a:hover,
#search1 a:focus,
#search1 a:active,
#search2 a:hover,
#search2 a:focus,
#search2 a:active
{
color:#990033;
}

#searchform {border: solid; border-color: #999999; height:200px; width: 100%;}
#searchform form {margin-top: 10%;margin-bottom: 10%;}
#searchlink1 {float: left; margin-left: 13%;margin-right: 2%; text-align: center; text-decoration:underline;}
#searchlink2{float: left; margin-right: 2%; text-align: center;text-decoration:underline;}

#Middlebuttom {margin-top: 5%;}
#mb1{margin-top: 2%; float: left; width: 48%; margin-right: 2%; height: 80px;}
#mb2{margin-top: 2%;float: left; width: 48%; margin-left:  2%;height: 80px;}
#mb3{margin-top: 2%;float: left; width: 48%; margin-right: 2%; height: 80px;}
#mb4{margin-top: 2%;float: left; width: 48%; margin-left:  2%;height: 80px;}
#mb5{margin-top: 2%;float: left; width: 48%; margin-right: 2%; height: 80px;}
#mb6{margin-top: 2%;float: left; width: 48%; background-color: #cccccc;margin-left:  2%;height: 80px;}
#Middlebuttom p {text-align: center; color: white; margin-top: 10%; font-weight: 600;}


/*rightsidebar*/
#rightsidebar {float: left; width: 23%; margin-left: 0; margin-top: 2%;}
#time {background-color: #cccccc; text-align: center;width: 100%; height: 220px; margin-left: 10%;}
#time-more {text-decoration:underline;}

#news {margin-top: 7%; width: 100%; margin-left: 10%;}
.newsevent1{margin-top: 5%;float: left; background-color: #cccccc; width: 25%; height: 40px; margin-right: 5%;}
.newsevent2{margin-top: 5%;float:left; background-color: #cccccc; width: 70%; height: 40px;}
#more {float: right;text-decoration:underline;}

/*foot*/
#footer {margin-left: 5%; bottom: 0;width: 90%; height: 200px; margin-top: -200px; background-color:rgb(204, 204, 204, 0.4);}
.foot-1 {float: left; width: 45%; margin-right: 2%;}
.foot-1 img {width:35%; height:35%; float: left; margin: 2%;margin-top: 15%;}
#footerContact {float: left;margin-top: 10%; border-left: solid;border-color: #666666; padding-left: 2%;}
.foot-2 {float: left; width: 20%; height: auto; margin-left:1%; margin-top: 6%; text-align: center;}
.foot2{background-color: #cccccc; width: 150px; height:30px;margin-bottom: 3%;}
.foot-3{float:right; width: 30%; height: auto; margin-right: 2%;margin-top: 6%; text-align: right;}
.foot-3t{text-decoration:underline;}


/* =Template
-------------------------------------------------------------- */
.site{
	display: flex;
  display: -webkit-flex; /* Safari */
  min-height: 100vh;
  flex-direction: column;
}
#wrapper {
    width:100%;
    margin:auto;
				min-height: 100%;
				padding-bottom:200px;
				margin-bottom: 5%;
				flex: 1;
}

#main {
	background-color:#fff;
	padding:30px 0;
	width: 100%;
	min-width: 100%;
}
#opTitle {
	background-color:#fff;
	color:rgb(0,200,0);
	text-align:center;
}

/* =Top Bar
-------------------------------------------------------------- */
#top-bar {
	background-color:rgb(100,150,200);
}
#top-bar a {
	color:#8c8c8c;
	font-size:14px;
	text-transform:uppercase;
	display:inline-block;
	margin:0;
	padding: 0;
}
#top-bar a:hover{
	background-color:#666666;
}
span.all-labs,
span.back-to-tutorial {
	display:block;
	width:50%;
}
span.all-labs {
	float:left;
	text-align:left;
}
span.back-to-tutorial {
	float:right;
	text-align:right;
}

/* =Header
-------------------------------------------------------------- */
header {
	padding:80px 0;
	background-color: rgb(204, 204, 204, 0.4); 
}
#title {
	width:100%;
	text-align:center;
	height: 35%;
}
#title h1 {
	color:rgb(200,200,200);
	font-size: 30px;
	margin-bottom:10px;
}
#title h2 {
	color:rgb(200,200,200);
	font-size:20px;

}


/* =Footer
-------------------------------------------------------------- */
footer {

}

.content {
    width:100%;
    max-width:1000px;
    margin:0 0;
    min-width: 100%;
}



/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}


/* =Styles for the lab
-------------------------------------------------------------- */
/* content */

#wrapper {
	width: 90%;
	min-width:1000px;
}
nav {
	background-color:#990033;
	padding: 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation 
--------------------------------------------------------------*/
nav li ul {    
    background-color:#666666;
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links 
-------------------------------------------------------------*/
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 18px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
		
				background-color:#666666;
}

/* style sub level links 
--------------------------------------------------------------*/
nav li li a {
    border-bottom:solid 1px rgb(255,255,255);
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links 
--------------------------------------------------------------*/
ul.sub-menu {
    display:none;
}

/* show arrows for dropdowns 
--------------------------------------------------------------*/
nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}
